.square {
	height: 62.25px;
	width: 100%;
	border: 1px solid #27802B;
}
.green {
	background-color: #27802B;
}
.white {
	background-color: #FDFFD3;
}
.highlight {
	background-color: yellow;
	border: 1px solid yellow;
}
@media only screen and (max-width: 768px) {
	.square {
			height: 37.25px;
	}
}