.square {
	height: 75px;
	width: 75px;
	border: 1px solid #27802B;
}

.green {
	background-color: #27802B;
}
.white {
	background-color: #FDFFD3;
}
.highlight {
	background-color: yellow;
	border: 1px solid yellow;
}
.expend{height: 75px;
	width: 75px;}