#titre {
  text-align: center;
  font-size: 200%;
  margin-bottom: 5%;
}

#closeButton {
  background-color: white;
  border-style: none;
  position: absolute;
  top: 0;
  right: 0;
}

form {
  text-align: center;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
}

input,
label {
  margin: 10px;
}
