<div>
  <h1>Parties à rejoindre</h1>
  <table>
    <thead>
      <th>Id de la partie</th>
      <th>Nom de la partie</th>
      <th>Joueurs</th>
      <th>Rejoindre</th>
    </thead>
    <tbody *ngFor="let game of list; let i = index">
      <tr>
        <td>{{ game[2] }}</td>
        <td>{{ game[0] }}</td>
        <td>{{ game[1] }}</td>
        <td>
          <button id="join" (click)="openDialogJoinParty(game[0], game[2])">
            <img src="assets\rejoindre.png" width="50px" />
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <button id="create" (click)="openDialogPartyCreation()">
    Créer une partie
  </button>
</div>
