<!-- <div *ngIf="nbplayers.errors?.pattern">
  <p>Nombre de joueurs non valides. Veuillez choisir un nombre entre 4 et 8.</p>
</div> -->

<form>
  <!-- <label for="nbplayers"> Nombre de joueurs</label>
  <input
    class="form-control"
    type="number"
    id="nbplayers"
    name="nbplayers"
    [(ngModel)]="nbplayers"
    min="4"
    max="8"
    ngModel
    required
    ng-required="nbplayers"
    pattern="[4-8]"
  />
  <br /> -->

  <!-- <button type="submit" (click)="onSubmitNbPlayers()" [disabled]="">
      Jouer
    </button>
    <button (click)="roleChoice()" [disabled]="">Roles</button>
  </form> -->

  <!-- Si le joueur est gentil -->
  <div>
    <img src="assets\cartes time bomb\role g1 tb.jfif" />
  </div>

  <!-- Si le joueur est mechant -->
  <div>
    <img src="assets\cartes time bomb\role m1 tb.jfif" />
  </div>
</form>
