.checkersboard {
    width: 800px;
    height: 800px;
    margin: 20px;
    border: 25px solid #333;
}

.black {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.red {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}